@import url("https://fonts.googleapis.com/css2?family=Neuton&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');

@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-notable: "Notable", sans-serif;
  --font-neuton: "Neuton";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.font-notable {
  font-family: var(--font-notable);
}

.font-neuton {
  font-family: var(--font-neuton);
}

.jaldi-regular {
  font-family: "Jaldi", sans-serif;
  font-weight: 400;
  font-style: normal;
}